# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Env files
.env

# Data
data/raw/*
data/processed/*

# Except keep folders
!data/raw/.gitkeep
!data/processed/.gitkeep

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
